.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

label {padding:5px}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.divOff {
  font-size:0%; width:0%; margin-left:-1200px; max-height:0px;
}

.divOn {
  font-size:18px; width:100%; margin-left:0px; height:380px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.autocomplete {position:relative; display:inline-block
}
.autocomplete-items {
  position:absolute; border:1px solid black;  
  border-bottom:none; border-top:none;
  z-index:99; top:100%; left:0; right:0;
}
  .autocomplete-items div {
    padding:10px; cursor:pointer; background-color:rgb(85, 75, 94); border-bottom:1px solid#d4d4d4;
    color:whitesmoke 
}
  .autocomplete-items div:hover {background-color:#201d1d; 
}
  .autocomplete-active {background-color:DodgerBlue !important; color:#ffffff; 
}


/* PC DESKTOP */
@media (min-width:48em) {
  
  }
